a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header-options:hover {
  border-bottom: 1px solid white;
}

.App {
  text-align: center;
  position: relative;
}

.App img {
  width: 100vw;
}

.App-header {
  background-color: rgb(0, 0, 73);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 20px 30px;
}

.header-logo {
  transform: translate(-25px);
}

.header-conteinner {
  display: flex;
  flex-flow: row;
  gap: 2em;
  align-items: center;
  font-size: .5em;
}

.conteinner-options {
  color: black;
  font-size: 13px;
}

.info-conteinner {
  display: flex;
  flex-direction: column;
  padding: 30px 10vw;
  gap: 2em;
}

.info-conteinner > img {
  position: absolute;
  left: 0;
  width: 100vw;
}